.cart_container {
  width: 100%;
  height: 100%;
  .cart_wrapper {
    width: 70%;
    display: flex;
    margin: auto;
    // justify-content: space-around;
    gap: 70px;
  }
  .cart_img {
    width: 470px;
    height: 660px;
  }
  .cart_img img {
    width: 100%;
    height: 100%;
  }
  .cart_content {
    width: 40%;
  }
  .cart_title {
    font-family: Jost;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
  }
  .cart_review {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px 0;

  }
  #review_rating {
    padding: 0 !important; 
  }
  .cart_review_text {
    //styleName: p2/16/Book;
font-family: Jost;
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: #666666;

  }
  .cart_amount {
    //styleName: H4/24/Medium;
font-size: 24px;
font-weight: 500;
line-height: 36px;
margin: 10px 0;


  }
  .cart_colors {

  }
  .cart_color_title {
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 1px;

  }
  .cart_color {
    display: flex;
    gap: 10px;
  }
  .color_box_purple {
    width: 44px;
height: 44px;
background: #1B2248;
  }
  .color_box_white {
    width: 44px;
height: 44px;
background: #FFeFeF;
  }
 
  .color_box_gray {
    width: 44px;
height: 44px;
background: #EEEEEE;

  }
  .color_box_red {
    width: 44px;
height: 44px;
background: #9F0B0B;
  }
  .cart_size{
    margin: 10px 0;
  }
  .cart_size_header{
    display: flex;
    gap: 10px;
  }
  .cart_size_title{
    font-family: Jost;
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 1px;

  }
  .size_value{
    font-family: Jost;
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: #666666;
  }
 
  .cart_size_items{
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    cursor: pointer;
  }
  
.cart_item_size{
  font-family: Jost;
font-size: 16px;
font-weight: 600;
line-height: 24px;
  margin: auto;
}
.cart_wrapper_box{
  border: #E5E5E5 2px solid;
  width: 40px;
  height: 40px;
  display: flex;
  gap: 10px;
  align-items: center;

}
.cart_wrapper_box_active{
  border: #000000 2px solid;

  width: 40px;
  height: 40px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.cart_quantity_title{
  font-family: Jost;
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 2px;

}
.cart_quantity_value{
  display: flex;
  margin: 10px 0;
}
.cart_quantity_value div{
  font-family: Jost;
font-size: 16px;
font-weight: 400;
line-height: 24px;

}
.quantity_decrement{
  border: #E5E5E5 2px solid;
padding: 10px 8px;
 display: inline-block;
 cursor: pointer;
 
}
.quantity_value{
  border-top: #E5E5E5 2px solid;
  border-bottom: #E5E5E5 2px solid;
padding: 10px 20px ;
 display: inline-block;
}

.quantity_increment{
  border: #E5E5E5 2px solid;
padding: 10px 8px;
 display: inline-block;
 cursor: pointer;
}

}
