.cart_container {
  width: 90%;
  height: 100%;
  margin: auto;
  .cart-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 50px 0;
    flex-direction: column;
  }

  .cart_title {
    font-family: Jost;
    font-size: 48px;
    font-weight: 600;
    line-height: 62px;
    color: #000000;
  }
  .cart_desc {
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #666666;
  }

  .cart_wrapper {
    width: 100%;
    display: flex;
    margin: 50px auto;
    justify-content: space-around;
    gap: 70px;
  }
  .cart_product_list {
    width: 60%;
    border: #eeeeee 2px solid;
  }

  .cart_product_header {
    display: flex;
    border-bottom: #eeeeee 2px solid;
  }
  .cart_product_header div {
    font-family: Jost;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
  }
  .product_title {
    width: 46%;
    padding: 15px 20px;
  }
  .size_title {
    width: 10%;
    padding: 15px 0;
  }
  .price_title {
    width: 16%;
    padding: 15px 0;
  }
  .quantity_title {
    width: 13%;
    padding: 15px 0;
  }
  .total_title {
    width: 15%;
    padding: 15px 0;
  }
  .cart_list_items {
    height: 368px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
  }

  .cart_sub_total_value {
    display: flex;
    width: 100%;
    background: #eeeeee;
  }
  .card_detail {
    width: 65%;
    padding: 15px 20px;
  }
  .cart_sub_total {
    width: 20%;
    padding: 15px 0;
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
  }
  .cart_total_value {
    width: 15%;
    padding: 15px 0;
    font-family: Jost;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
  }
  .cart_product_value_list {
    width: 30%;
  }
  .cart_total_value_list {
    width: 30%;
    padding: 30px 30px;
    box-shadow: 0px 12px 30px 0px #0000000f;
    height: 330px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .cart_total_header {
    font-family: Jost;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
  }
  .cart_total {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cart_total_title {
    font-family: Jost;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    width: 80%;
  }
  .quantity__value {
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    color: #a6a2a2;
    width: 20%;
    text-align: left;
  }
  .sub_total_value {
    font-family: Jost;
    font-size: 18px;
    font-weight: 600;
    width: 20%;
    text-align: left;
  }
  .discount_value {
    font-family: Jost;
    font-size: 14px;
    font-weight: 500;
    width: 20%;
    text-align: left;
  }
  .line {
    content: "";
    border-bottom: 1px solid #eeeeee;
    width: 100%;
    margin: 0 auto;
  }
  .total_value {
    font-family: Jost;
    font-size: 24px;
    font-weight: 600;
    width: 20%;
    text-align: left;
  }
  .input_container {
    margin-bottom: 0 !important;
  }
  .button_wrapper {
    width: auto !important;
  }
  .discount_header {
    //styleName: P1/18/Semi;
    font-family: Jost;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
  }
  .discount_code {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
}
