.product_pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  gap: 2px;
}

.prev_btn,
.next_btn {
  background: #000;
  color: #ffffff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 100;
}

.prev_btn:hover,
.next_btn:hover {
  background: #b4b0b0;
  color: #fff;
}
.pagination_content {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Jost;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
 .active {
  background: #000;
  color: #ffffff;
}
