.signup_container {
  background-color: #f5f6f8;
  padding-top: 2rem;
  padding-bottom: 6rem;
}

.signup_form {
  background-color: #ffffff;
  max-width: 350px;
  margin: 0 auto;
  padding: 2rem 2.5rem;
}

/* Facebook login*/
.facebook_btn {
  display: flex;
  align-items: center;
  background-color: #4267b2;
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  cursor: pointer;
}

.facebook_btn:hover {
  background-color: #3c5fa5;
}
.facebook_btn .fb_logo {
  width: 30px;
  display: flex;
  margin-left: 1rem;
}

.fb_logo > img {
  width: 100%;
}

.facebook_btn > button {
  flex: 1;
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
}

.google_btn {
  display: flex;
  align-items: center;
  border: 2px solid #eeeeee;
  padding: 0.5rem;
  cursor: pointer;
}

.google_btn:hover {
  background-color: #f5f6f8;
}
.google_logo {
  width: 20px;
  display: flex;
  margin-left: 1rem;
}

.google_logo > img {
  width: 100%;
}

.google_btn > button {
  flex: 1;
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.or {
  text-align: center;
  font-size: 12px;
  position: relative;
  margin: 1rem;
  font-size: 14px;
}

.or::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  height: 1px;
  width: 40%;
  background-color: #eeeeee;
}
.or::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  height: 1px;
  width: 40%;
  background-color: #eeeeee;
}

.signup_form > h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.signup_form > form {
  display: flex;
  flex-direction: column;
}

.term {
  margin-bottom: 1.5rem;
  display: flex;
  column-gap: 1rem;
}
.term > span {
  font-size: 14px;
  font-family: "jost";
  color: #666666;
}

.signup_btn {
  background-color: #111;
  padding: 0.7rem;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.signup_btn:hover {
  background-color: rgb(37, 37, 37);
}

@media only screen and (min-width: 1366px) and (max-width: 1520px) {
  .button_wrapper {
    padding: 0;
  }
}
